<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_Club_Deportivo">

        <activity
            android:name=".PrincipalActivity"
            android:exported="false"
            android:theme="@style/Theme.App_Club_Deportivo" />

        <activity
            android:name=".GestionDeSociosActivity"
            android:exported="false"
            android:theme="@style/Theme.App_Club_Deportivo" />

        <activity
            android:name=".PagarCuotasActivity"
            android:exported="false"
            android:theme="@style/Theme.App_Club_Deportivo" />

        <activity
            android:name=".VencimientosHoyActivity"
            android:exported="false"
            android:theme="@style/Theme.App_Club_Deportivo" />

        <activity
            android:name=".AltaDeSociosActivity"
            android:exported="false"
            android:theme="@style/Theme.App_Club_Deportivo" />

        <activity
            android:name=".AptoFisicoActivity"
            android:exported="false"
            android:theme="@style/Theme.App_Club_Deportivo" />

        <activity
            android:name=".BajaDeSociosActivity"
            android:exported="false"
            android:theme="@style/Theme.App_Club_Deportivo" />

        <activity
            android:name=".GenerarCarnetActivity"
            android:exported="false"
            android:theme="@style/Theme.App_Club_Deportivo" />

        <activity
            android:name=".GenerarComprobanteActivity"
            android:exported="false"
            android:theme="@style/Theme.App_Club_Deportivo" />

        <activity
            android:name=".GestionDeNoSociosActivity"
            android:exported="false"
            android:theme="@style/Theme.App_Club_Deportivo" />

        <activity
            android:name=".PagarActividadActivity"
            android:exported="false"
            android:theme="@style/Theme.App_Club_Deportivo" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App_Club_Deportivo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>